{% extends "authenticated_base.html" %}
{% block content %}
    <h1>Welcome to the School Management System</h1>
    <h2>Hi {{ user.username }}!</h2>
    <div class="text-end">
            <a href="{% url 'admin_list' %}" class="btn btn-primary btn-block">Admin List</a>
            <a href="{% url 'staff_list' %}" class="btn btn-success btn-block">Staff List</a>
            <a href="{% url 'librarian_list' %}" class="btn btn-warning btn-block">Librarian List</a>
            <a href="{% url 'student_list' %}" class="btn btn-info btn-block">Student List</a>
        </div>
    </div>
{% endblock content %}
