{% extends "authenticated_base.html" %}
{% block content %}
    <h1>Admin List</h1>
    <div class="text-end">
        <a href="{% url 'admin_create' %}" class="btn btn-primary">Add New {{ model_name }}</a>
    </div>
    <table class="paleBlueRows">
        <thead>
            <tr>
                <th>Reg ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for admin in admins %}
                <tr>
                    <td>{{ admin.registration_id }}</td>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.department }}</td>
                    <td>{{ admin.phone_number }}</td>
                    <td>
                        <a href="{% url 'admin_detail' admin.pk %}" class="btn btn-info"><i class="bi bi-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
